---
http_interactions:
- request:
    method: post
    uri: https://api.lohnmanager.info/LohnManagerService.svc/json/UpdateEmployeesTimeRecords
    body:
      encoding: UTF-8
      string: '{"TimeRecords":[{"EmployeeNo":5,"RecordType":0,"RecordDate":"/Date(1480546800000)/","Shift1_Start":"PT8H1M","Shift1_End":"PT10H21M","Shift2_Start":"PT14H30M","Shift2_End":"PT23H22M"}],"apiKey":"LtW496WYnOKDjXgqdnbSz7TJaiDemvKCCxA8HzOOFqaeg7KLTpQq8XvdaMur2ibrDHBlXHje8XMIxe3C","companyNo":"-1"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"UpdateEmployeesTimeRecordsResult":[{"EmployeeNo":5,"Error":false,"ErrorMsg":null,"RecordDate":"\/Date(1480546800000)\/"}]}'
  recorded_at: Tue, 25 Apr 2017 06:17:02 GMT
recorded_with: VCR 3.0.3
