---
http_interactions:
- request:
    method: post
    uri: http://api.lohnmanager.malta.obfr-dev.de/LohnManagerService.svc/json/UpdateEmployeesTimeRecords
    body:
      encoding: UTF-8
      string: '{"TimeRecords":[{"EmployeeNo":5,"RecordType":0,"RecordDate":"/Date(1480546800000+0100)/","Shift1_Start":"PT1H10M","Shift1_End":"PT2H25M","Shift2_Start":"PT22H23M","Shift2_End":"PT23H30M"}],"apiKey":"XXX","companyNo":"-1"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"UpdateEmployeesTimeRecordsResult":[{"EmployeeNo":5,"Error":false,"ErrorMsg":null,"RecordDate":"\/Date(1480546800000+0100)\/"}]}'
  recorded_at: Thu, 09 Feb 2017 13:26:46 GMT
recorded_with: VCR 3.0.3
