---
http_interactions:
- request:
    method: post
    uri: https://api.lohnmanager.info/LohnManagerService.svc/json/GetEmployeeByNo
    body:
      encoding: UTF-8
      string: '{"EmployeeNo":99892,"apiKey":"LtW496WYnOKDjXgqdnbSz7TJaiDemvKCCxA8HzOOFqaeg7KLTpQq8XvdaMur2ibrDHBlXHje8XMIxe3C","companyNo":"-1"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"GetEmployeeByNoResult":{"Birthday":"\/Date(-81396000000+0200)\/","CompanyNo":-1,"EmployeeNo":99892,"EnteringDate":"\/Date(1485903600000+0100)\/","ExitDate":null,"FirstName":"Per","ID":41802,"LastName":"Denecke"}}'
  recorded_at: Tue, 25 Apr 2017 06:17:02 GMT
recorded_with: VCR 3.0.3
