---
http_interactions:
- request:
    method: post
    uri: http://api.lohnmanager.malta.obfr-dev.de/LohnManagerService.svc/json/GetEmployeeByNo
    body:
      encoding: UTF-8
      string: '{"EmployeeNo":99892,"apiKey":"XXX","companyNo":"-1"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"GetEmployeeByNoResult":{"Birthday":"\/Date(-81396000000+0200)\/","CompanyNo":-1,"EmployeeNo":99892,"EnteringDate":"\/Date(1485903600000+0100)\/","ExitDate":null,"FirstName":"Per","ID":41802,"LastName":"Denecke"}}'
  recorded_at: Thu, 09 Feb 2017 13:26:45 GMT
recorded_with: VCR 3.0.3
